# --- Core Server ---
fastapi
uvicorn
python-dotenv
python-multipart

# --- AI & RAG ---
langchain
langchain-community
langgraph-checkpoint-redis
langchain-cohere
langchain-openai
langchain-text-splitters
langfuse
langgraph
meilisearch
meilisearch-python-sdk
openai
tiktoken
cohere

# --- Authorization ---
pyjwt
pydantic[email]

# --- Database & Utils ---
redis
SQLAlchemy
psycopg2-binary

# Development Only
pip-licenses
ruff